# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore log files and temporary files
*.log
*.tmp

# Ignore local environment variables (sensitive data)
.env

# Ignore dependency directories
node_modules/
dist/
